/*///////////////////////////////////////////////////////
RESET ---------------------------------------------------
///////////////////////////////////////////////////////*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*///////////////////////////////////////////////////////
ESTILO GERAL --------------------------------------------
///////////////////////////////////////////////////////*/
html {
    --color-primary-normal: #8844ee;
    --color-primary-light: #b07dfb; 
}


body {
    font-family: "Volkorn", Georgia, serif;
}

img {
    width: 100%;
    display: block;
    border-radius: 4px;
}

/*///////////////////////////////////////////////////////
GRID GERAL ----------------------------------------------
///////////////////////////////////////////////////////*/

.estrutura {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
        "header     header      header"
        "sidenav    content     anuncios"
        "footer     footer      footer"
    ;
}

.header {
    grid-area: header;
}

.sidenav {
    grid-area: sidenav;
}

.content {
    grid-area: content;
}

.anuncios {
    grid-area: anuncios;
}

.footer {
    grid-area: footer;
}


/*///////////////////////////////////////////////////////
HEADER --------------------------------------------------
///////////////////////////////////////////////////////*/

.header {
    background: linear-gradient(135deg, var(--color-primary-normal), var(--color-primary-light));
    padding: 32px;
    
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

}

.logo {
    max-width: 200px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a {
    display: block;
    padding: 8px;
    color: white;
    font-size: 1.125em;
    background: rgba(0, 0, 0, .1);
    border-radius: 4px;
    transition: 0.1s;
}

.header nav a:hover {
    background: rgba(0, 0, 0, .5);

}

.header li + li {
    margin-left: 32px;
}


/*///////////////////////////////////////////////////////
SIDENAV -------------------------------------------------
///////////////////////////////////////////////////////*/

.sidenav {
    background-color: #fafbfc;
    padding: 32px;
}

.sidenav li a {
    display: block;
    min-width: 64px;
    max-width: 100px;
    margin: 0 auto 32px auto;
    background: white;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 4px 4px 16px 0px rgba(44, 44, 44, 0.15);
    transition: .1s ease-out;
}

.sidenav li a:hover {
    background: var(--color-primary-light);
}

/*///////////////////////////////////////////////////////
CONTENT -------------------------------------------------
///////////////////////////////////////////////////////*/
.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.col-wide {
    grid-column: 1 / -1;
}

.imagem-1 {
    grid-row: span 2;
    align-self: end;
}

.imagem-2 {
    align-self: end; 
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, .7);
}

.informacoes p + p {
    margin-top: 32px;
}

.titulo {
    color: var(--color-primary-light);
}

.titulo h1 {
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
}

.titulo span {
    font-size: 0.875em;
    font-style: italic;
}

.destaque {
    font-size: 0.875em;
    color: var(--color-primary-light);
    max-width: 16em;
}

.citacao, .atributos {
    align-self: start;
    padding: 32px;
    border-radius: 4px;
    box-shadow: 4px 4px 16px 0px rgba(44, 44, 44, 0.15);
    background: linear-gradient(135deg, var(--color-primary-normal), var(--color-primary-light));
}

.citacao p {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    color: white;
    max-width: 500px;
    margin: 0 auto;
}

.atributos li {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125em;
    padding: 16px;
    
}

.atributos li + li {
    border-top: 2px solid var(--color-primary-light);
}

/*Cards*/
.caracteristicas {
    display: flex;
    align-items: flex-start;
}

.caracteristicas > div {
    width: 80px;
    text-align: center;
    background: linear-gradient(135deg, var(--color-primary-normal), var(--color-primary-light));
    border-radius: 4px;
    box-shadow: 4px 4px 16px 0px rgba(44, 44, 44, 0.15);
    position: relative;
}

.caracteristicas > div:first-child {
    margin-right: 32px;
}

.caracteristicas span {
    display: block;
}

.numero {
    color: var(--color-primary-light);
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}

.rotulo {
    background-color: white;
    border-radius: 0 0 4px 4px;
    color: var(--color-primary-light);
    padding: 4px 0;
    position: relative;
    top: 2px;
}

/*///////////////////////////////////////////////////////
ANÚNCIOS ------------------------------------------------
///////////////////////////////////////////////////////*/
.anuncios{
    background: #fafbfc;
    display: grid;
    align-content: start;
    grid-gap: 32px;
    padding: 32px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/*///////////////////////////////////////////////////////
FOOTER --------------------------------------------------
///////////////////////////////////////////////////////*/
.footer {
    background: linear-gradient(135deg, var(--color-primary-normal), var(--color-primary-light));
}

.footer p {
    color: white;
    text-align: center;
    padding: 32px;
}


/*///////////////////////////////////////////////////////
RESPONSIVIDADE ------------------------------------------
///////////////////////////////////////////////////////*/

@media (max-width: 1200px) {
    .estrutura {
        grid-template-areas: 
            "header header header"
            "sidenav content content"
            "sidenav anuncios anuncios"
            "footer footer footer"
        ;
    }
}

@media (max-width: 760px) {
    .estrutura {
        grid-template-columns: 100%;

        grid-template-areas: 
            "header header header"
            "sidenav sidenav sidenav"
            "content content content"
            "anuncios anuncios anuncios"
            "footer footer footer"
        ;
    }

    .header {
        grid-template-columns: auto;
    }

    .logo {
        margin-bottom: 24px;
    }

    .header nav a {
        font-size: 1em;
    }

    .header li + li {
        margin-left: 16px;
    }

    .sidenav ul {
        display: flex;
    }

    .sidenav ul li {
        flex: 1 0 60px;
    }

    .sidenav {
        padding: 0 32px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        position: relative;
    }
    @keyframes seta {
        from {
            right: 32px;
        }
        to {
            right: 24px;
        }
    }

    .sidenav::after {
        content: '➝' ;
        position: absolute;
        top: 4px;
        right: 32px;
        color: rgba(0, 0, 0, .3);
        animation: seta .5s ease-in 0s infinite alternate;
    }



    .sidenav li a {
        margin: 32px 32px 32px 0;
    }
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: auto;
    }
}